*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}
.heading {
  text-align: center;
}
.btn {
  display: block;
  width: 125px;
  margin: 1em auto;
  padding: 0.5em;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}
form {
  display: flex;
  flex-direction: column;
  margin: 1em 1.5em;
}
.form-control {
  display: flex;
  align-items: baseline;
}
.form-control > label {
  text-align: left;
  min-width: 150px;
  padding: 1em 0 0;
}
.form-control > input {
  min-width: 250px;
  width: 100%;
  margin: 0 0.5em;
  border-radius: 1em;
  padding: 0.25em 0.5em;
  box-shadow: none;
}
.form-control > input:focus {
  outline: none;
  box-shadow: 1px 1px 3px #3f51b5;
}
.profile-container {
  display: flex;
  flex-direction: column;
}
.profile-container > img {
  background-color: #fff;
  border-radius: 50%;
}
.user-profile {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 3.3em;
  right: 0;
  text-align: center;
  padding: 1em 4.5em;
  background-image: linear-gradient(90deg, #3f51b5, #6a79cf);
  color: #fff;
  border-radius: 1em;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
  z-index: 1;
}
.user-info-heading {
  margin: 1em 0 0.5em;
}
.user-info-container {
  display: flex;
  flex-direction: column;
}
.label {
  color: white;
  padding: 0.25em 0.5em;
  margin: 0 0.25em;
  border-radius: 5px;
  font-size: small;
}
.card {
  box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
  border-radius: 0.75em;
  padding: 1em;
  margin: 1em;
  min-width: 400px;
}
.labels-container {
  margin: 0.25em;
  text-align: right;
}
.sticky-nav {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  background-color: #3f51b5;
  padding: 0.5em 2em;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
  z-index: 1;
}
.sticky {
  position: sticky;
  top: 3.4em;
  background-color: white;
  padding: 0.5em 1em;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 25%);
}
.cards-view {
  margin: 2em 1em;
}
.color-inv {
  background-color: #fff;
  color: #3f51b5;
}

@media only screen and (max-width: 768px) {
  .cards-view {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .cards-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1025px) {
  .cards-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
