/* form{
    display: table;
}
.form-control{
    display: table-row;
}
.form-control > p, .form-control > input, .form-control > label, .form-control > select{
    display: table-cell;
    margin-bottom: 8px;
    vertical-align: middle;
} */

input, select{
    margin-left: 10px;
    border-color: steelblue;
}

input[type=submit], input[type=reset]{
    border-radius: 3px;
}
/* input.form-control{
    display: table-cell;
    margin-bottom: 8px;
} */
